.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-link {
  color: #333;
  font-weight: bold;
}

.search-bar {
  margin-left: auto;
  width: 300px;
}

.search-bar input {
  border-radius: 0;
}

.search-bar button {
  border-radius: 0;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.nav-item{
  margin-right: 50px;
}
.nav-link{
  font-size: 20px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

/* footer new */

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.footer-content {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
}

.btn:hover {
  background-color: #007bff;
}

.fa {
  font-size: 20px;
  line-height: 1;
}
